<h1 mat-dialog-title>New Contact</h1>
<div mat-dialog-content>
        <mat-form-field class="example-full-width">
           <mat-label>Name</mat-label>
          <input matInput placeholder="Ex. John Smith"  [formControl]="name" required [(ngModel)]="user.name">
          <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>

        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Bio</mat-label>
         <input matInput [(ngModel)]="user.bio">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>BirthDate</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
       
       <mat-form-field class="example-full-width">
        <mat-label>Avatar</mat-label>
       <mat-select placeholder="Avatar" [(ngModel)]="user.avatar">
         <mat-select-trigger>
          <span  *ngIf="user.avatar" class="avatar-icon">
            <img [src]="user.avatar">
          </span>
         </mat-select-trigger>
         <mat-option *ngFor="let avatar of avatars; let i =index" [value]="avatar">
          <span class="avatar-icon">
            <img [src]="avatar">
          </span> svg - {{i}}
        </mat-option>
       </mat-select>
     </mat-form-field>
    </div>
<div mat-dialog-actions>
    <button mat-button  (click)="save()">
      <mat-icon>save</mat-icon> Save
    </button>
   
    <button mat-button  (click)="dismiss()">
      <mat-icon> cancel</mat-icon>Cancel
    </button>
</div>